<!DOCTYPE html>
<!-- New product -->
<div xmlns:th="http://www.thymeleaf.org" th:fragment="content" class="centrado">
    <div class="container m-4">
        <h1>Nuevo Producto</h1>
        <form action="/products" method="post" class="mb-3">
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input type="text" id="price" name="price" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Cantidad</label>
                <input type="text" id="quantity" name="quantity" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <a href="/products" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>